body {
	padding: 0 15px;
    background: pink; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #0C2D83, #FF4081); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0C2D83, #FF4081); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0C2D83, #FF4081); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0C2D83, #FF4081); /* Standard syntax (must be last) */
}

section {
	background-color: white;
	max-width: 960px;
	margin: 15px auto;
	border-radius: 5px;
	padding: 15px;
}

.display-gif img {
 width:100%;
 margin: 10px 0;
}

.message_container {
	border-bottom: 2px solid #eee;
	padding-bottom: 10px;
}

.name__switch {
	margin-right: 20px;
}

.location__switch {
	
}

.reset__button {

}

.submit__button {
	margin-right: 20px;
}

#shuffle-button {

}

#giphy-button {
	margin-right: 20px;
}

.form__btns, .giphy_buttons {
	margin: 20px auto;
	display: flex;
	justify-content: center;
}




